html {
  background: #01456f url(/static/img/Abstract_Background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
  /* Transparent body to show BG image */
  background: transparent;
  /* Padding for NavBar */
  padding-top: 70px;
  /* Padding for Footer */
  padding-bottom: 70px;
}