// Palletton.com Theme
@import "_palletton2";
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Body
// $body-bg: #f5f8fa;
// $body-bg: rgba(black, 0.5);
$body-color: white;
// Theme
$primary: $color-primary-1;
$secondary: $color-primary-2;
$success: $color-secondary-2-1;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light: $color-primary-1;
$dark: $color-primary-4;
// Cards
$card-bg: $color-primary-0;
$card-color: white;
// Links
$link-color: $color-secondary-2-1;
// Jumbotron
.jumbotron {
	color:	$primary
}
// Borders
// Brands
// $brand-primary: #3097D1;
// $brand-info: #8eb4cb;
// $brand-success: #2ab27b;
// $brand-warning: #cbb956;
// $brand-danger: #bf5329;
// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
// $text-color: #636b6f;
// Navbar
// $navbar-default-bg: #fff;
// Buttons
// $btn-default-color: $text-color;
// Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);
// Panels
// $panel-default-heading-bg: #fff;
